html {
  font-size: 20px;
  @media (max-width: 500px) {
    font-size: 16px;
  }
}
body {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
#show-weather-banner {
  display: grid;
  grid-template-rows: 2fr 1fr 2fr 2fr;
  width: 75vw;
  max-width: 600px;
  margin: auto;
  margin-top: 10vh;
  background: rgb(115, 65, 232);
  background: linear-gradient(
    190deg,
    rgba(115, 65, 232, 1) 58%,
    rgba(68, 151, 237, 1) 60%
  );
  color: white;
  border-radius: 10px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(13, 4, 104, 0.85);
  box-shadow: 0px 0px 6px 1px rgba(13, 4, 104, 0.85);
  @media (max-width: 500px) {
    width: 100%;
    max-width: unset;
    height: 100%;
    border-radius: unset;
    margin-top: unset;
  }
  #show-temp {
    font-size: 3rem;
  }
  #show-description {
    font-size: 1.5rem;
  }
  #show-city-name {
    font-size: 1.5rem;
    padding: 40px;
  }
  #show-icon {
    font-size: 3rem;
  }
}
#get-weather-form {
  border: 2px solid blue;
  width: 300px;
  input {
    font-family: inherit;
  }
}
